container {
    display: flex;
    align-items: flex-start;
   }
  
  .container img {
    width: 200px; /* Adjust this value as needed */
    margin-right: 20px;
  }
  .img, svg {
    vertical-align: middle;
  }
  .img-fluid {
    width: 80%;
    height: max-content;
  }
  
  p{
    text-align: justify;
  }

  li{
    text-align: justify;
  }