h1.title {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.container a img {
  display: inline-block; /* Ensure the icons are treated as inline-block */
  margin: 0 10px; /* Adjust the gap between icons (10px is an example, adjust as needed) */
  vertical-align: middle; /* Aligns icons in the middle to avoid any baseline issues */
  border: none; /* Removes any default border (if any) */
}

.container img {
  width: 200px; /* This is for the main home.png image */
  /* margin-bottom: 10px; Space between the image and the icons */
}

.container a img {
  width: 20px; /* Set the width of the icons */
  height: auto; /* Maintain aspect ratio */
}

/* .icon-container {
  margin-top: 10px;
}*/ 

.center-link {
  text-align: center;
  margin-top: 20px;  /* Optional: adds space above the link */
}

.center-link a {
  font-weight: bold; /* Optional: makes the link stand out */
  text-decoration: none; /* Optional: remove underline */
}

.centered-text {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}
